<div class="form-menu-bar">
  <i class="fa fa-plus-circle form-dropdown-button"></i>
</div>

<form class="form-add-image">
    <input type="text" placeholder="Image URL">
    <input type="text" placeholder="Image Caption">
    <input type="button" value="Cancel">
    <input type="button" value="Add Image">
</form>
