<div class="menu-bar">
  <i class="fa fa-plus-circle form-dropdown-button"></i>
</div>

<form class="add-image-form">
    <input type="text" placeholder="Image URL">
    <input type="text" placeholder="Image Caption">
    <input type="button" value="Cancel">
    <input type="button" value="Add Image">
</form>

<ul class="image-list">
</ul>
